# ==============================
# Python
# ==============================

# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# SQLite (if ever used)
*.sqlite3

# OS Files
.DS_Store
Thumbs.db